#!/bin/sh
CROSS_COMPILE=/home/zhe/am335x/gcc-linaro-arm-linux-gnueabihf-4.9/bin/arm-linux-gnueabihf-
AGV_DIR=/home/zhe/am335x/src/nkty/src/agv-test

JSON_INC=-I$(AGV_DIR)/include/json-c
JSON_LIB=-ljson-c
ZLOG_LIB=-lzlog
ZLOG_INC=
USER_INC=-I$(AGV_DIR)/include -I$(AGV_DIR)
USER_LIB=-L$(AGV_DIR)/lib

